body {
  background: url("/public/assets/images/background-4.png") no-repeat center
    center fixed;
  background-size: cover;
}

.welcome-text {
  text-align: center;
  color: #d48423;
  font-size: 5rem;
  font-family: campana;
  margin: -6rem 0rem 0 0;
  margin-bottom: -5rem;
}

.btn-primary {
  color: white;
  border: none;
  padding: 0.4rem;
  background-color: #d48423 !important;
  border-color: #d48423 !important;
  border-radius: 10rem;
}

.btn-primary:hover {
  background-color: #c3680b !important;
  border-color: #c3680b !important;
  border-radius: 10rem;
}

.card {
  margin-top: 1rem;
  border-radius: 2rem;
  height: auto;
  border: none;
  margin-bottom: 2rem;
}

.card-img-top {
  padding: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}

.stock {
  border-radius: 2rem;
}

.star {
  margin-top: -5px;
  color: gold;
}

.product_type {
  color: #d48423;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  border: 1px solid #d48423;
  border-radius: 4rem;
}

.price {
  color: #d48423;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  border-radius: 2rem 0 0 2rem;
  border: 1px solid #ced4da;
  padding: 0.5rem 1rem;
  width: 300px;
}

.search-button {
  border-radius: 0 2rem 2rem 0;
  border: 1px solid #d48423;
  background-color: #d48423;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 650px) {
  .row > .col-12 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 1rem;
  }

  .conn2 h2,
  .welcome-text {
    font-size: 5rem;
  }

  .card-body .card-title {
    font-size: 1rem;
  }

  /* Price */
  .card-body .price {
    font-size: 0.8rem;
  }

  /* Description and Stock Status (P tags) */
  .card-body p.fs-6,
  .card-body .stock {
    font-size: 0.75rem !important;
    margin-bottom: 0.5rem !important;
  }

  /* Product Type Badge */
  .card-body .product_type {
    font-size: 10px;
    padding: 0.1rem 0.3rem;
    margin-top: 0;
  }

  .card-body .d-flex.gap-2 button.btn-primary {
    font-size: 0.8rem;
    padding: 0.3rem;
  }

  .card-body .d-flex.gap-2 input[type="number"] {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}

.main-content-wrapper {
  min-height: calc(100vh - 70px - 200px); /* Adjust these values as needed */
  display: flex;
  flex-direction: column;
}
